<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <form
      method="POST"
      action="/listings"
      novalidate
      class="new-form needs-validation"
      enctype="multipart/form-data"
    >
      <h2 class="mt-2">Create a New Listing</h2>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a Catchy Title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="row">
        <div id="more-img" class="mb-3 col-md-10 more-img">
          <label for="Image" class="form-label">Upload image</label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide atleast 1 file.</div>
        </div>
        <div class="mt-4 col-md-2">
          <a id="add-image" class="add-img btn">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="2000"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a valid Price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="enter country"
            class="form-control"
            type="text"
            required
          />
          <div class="invalid-feedback">Please provide a valid Country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a valid Location.</div>
      </div>
      <br />

      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
